.loader {
    color: #fff;
    height: 100px;
    left: 50%;
    line-height: 100px;
    margin: -50px 0 0 -150px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 300px;
    z-index: 2;

    // top & bottom
    .border-bottom,
    .border-top {
        background: #fff;
        height: $border-size;
        position: absolute;
        width: 100%;
        @include animation(borderHorizontal 1.5s linear 0 infinite);
    }

    .border-bottom {
        bottom: 0;
        left: 0;
        @include transform-origin(100% 50%);
        @include animation-direction(backwards);
    }

    .border-top {
        right: 0;
        top: 0;
        @include transform-origin(0 50%);
    }

    // left & right
    .border-left,
    .border-right {
        background: #fff;
        height: 100%;
        position: absolute;
        width: $border-size;
        @include animation(borderVertical 1.5s linear .75s infinite);
        @include animation-fill-mode(backwards);
    }

    .border-left {
        left: 0;
        top: 0;
        @include transform-origin(50% 100%);
    }

    .border-right {
        bottom: 0;
        right: 0;
        @include transform-origin(50% 0);
        @include animation-direction(backwards);
    }
}

@include keyframes(borderHorizontal) {
    0% { width: 100%; @include transform(scaleX(0)); }
    50% { width: 100%; @include transform(scaleX(1)); }
    100% { width: 0; }
}

@include keyframes(borderVertical) {
    0% { height: 100%; @include transform(scaleY(0)); }
    50% { height: 100%; @include transform(scaleY(1)); }
    100% { height: 0; }
}
